<div class="blueheader">Viktig informasjon</div><br/>
<p>Tjenesten Online Booking er foreløpig stengt for bruk på Stavanger Lufthavn Sola på grunn av oppgradering av p-teknisk løsninger. Det er erfaringsmessig ledige plasser på de fleste p-områder.</p>
<p>Husk å benytte samme kort ved inn- og utkjøring som ble benyttet ved bestilling. Dersom et annet kort benyttes i inn- og utkjøringene vil dette kortet også bli belastet for parkering.</p>