#include("./src/main/resources/parking/header.vm")
<div id="tabs-1">
	<div class="loginbox clearfix">
		<form action="login.html" method="post">
		  <div class="blueheader">Vennligst logg inn</div>
		  	<table id="logintable">
		    <tr>
		      <td width="20px">&nbsp;</td>
		      <td width="150px">&nbsp;</td>
		      <td>&nbsp;</td>
		      <td width="20px">&nbsp;</td>
		    </tr>
		    <tr>
		      <td colspan="4"><span class="question">Hva er e-postadressen din?</span><br/>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td><b>E-postadressen min er:</b></td>
		      <td><input name="password" class="inputboxes" id="password"/></td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td colspan="4"><span class="question">Har du et EuroPark-passord fra før?</span><br/>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td colspan="2"><input type="radio" name="neworoldcustomer" value="new" /><b>Nei, jeg er en ny bruker.</b></td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td><input type="radio" name="neworoldcustomer" value="old" /><b>Ja, jeg har et passord:</b></td>
		      <td><input name="password" type="password" class="inputboxes" id="password"/></td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td><a href="#">Glemt passord?</a></td>
		      <td>&nbsp;</td>
		    </tr>
		     <tr>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		     <tr>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		    </tr>
		    <tr>
		      <td>&nbsp;</td>
		      <td>&nbsp;</td>
		      <td><input type="submit" name="button" id="loginbutton" value="Logg inn"/></td>
		      <td>&nbsp;</td>
		    </tr>
		  </table>
		</form>
		<br/>					
		<div class="logininfo clearfix">
			<div class="infoimg clearfix">
				<img src="../fileadmin/site_images/info.png" alt="Informasjon"/>
			</div>
			<div class="infotext clearfix">
				Har du ikke benyttet EuroPark Online Booking tidligere må du registrere deg som ny bruker for å kunne bestille. <br/><br/>
		  		Dersom du allerede er e-kvitteringskunde kan du bruke samme brukernavn og passord.
		  	</div>
		</div>
	</div>
</div>
<div id="tabs-2">
	#include("./src/main/resources/parking/information.vm")
</div>
<div id="tabs-3">
	#include("./src/main/resources/parking/faq.vm")
</div>
#include("./src/main/resources/parking/footer.vm")