#include("./src/main/resources/parking/header.vm")
	

<div id="tabs-1">
	<div class="PARKINGOPTS clearfix">
					<form action="parkingupdate.html" method="post">
						<div class="SEARCHSUMMARY clearfix">
							<div class="SELECTED_LOC">
							Flyplass:
							<select name="location" >
								<optgroup label="Norge">
								#foreach ( $location in $locationList )
									${location.toString()}
								#end
							</select>
							</div>
							<div class="DATEBOX">
								Fra: <input type="text" name="dateFrom" id="dateFrom" value="$dateFrom" readonly>
							<select name="hoursFrom">
							#foreach ( $time in $hourFromList )
								${time.toString()}
							#end
						</select>
							</div>
							<div class="DATEBOX">
								Til: <input type="text" name="dateTo" id="dateTo" value="$dateTo" readonly>
								<select name="hoursTo">
								#foreach ( $time in $hourToList )
									${time.toString()}
								#end
								</select>
							</div>
							<div class="DATEBOX">
								<input type="image" src="../fileadmin/site_images/update_search2.jpg" alt="Search Now"/>
							</div>  
						</div>
					</form>
					<form action="login.html" method="post">
						<div class="sortoption">
							<p>Sorter på:
								<input type="radio" name="sorting" value="price" /> Pris
								<input type="radio" name="sorting" value="distance" /> Distanse
							</p>
						</div>		
						<ul>
				#foreach ( $parkingPlace in $parkingPlaces )
    				<li>
					<div class="PARKINGOPT clearfix">
						<div class="PARKING_PLACE">
							<div class="parking_img">
								<img src="${parkingPlace.imgUrl}"/>
							</div>
							<div class="parking_text">
								<p>${parkingPlace.briefDescription}</p>
								<br/>
								<a href="${parkingPlace.descriptionUrl}">Mer info og kart</a>
							</div>
						</div>
						<div class="DISTANCE">
							<div class=distance_img>
								#if ($parkingPlace.transport == "SHUTTLEBUS")
									<img src="../fileadmin/site_images/transport/bus.png"/>
								#elseif ($parkingPlace.transport == "WALK")
									<img src="../fileadmin/site_images/transport/walk.png"/>
								#end
							</div>
							<div class=distance_text>
								#if ($parkingPlace.transport == "SHUTTLEBUS")
									<p class="subheading">Skyttelbuss:</p>
								#elseif ($parkingPlace.transport == "WALK")
									<p class="subheading">Gåavstand:</p>
								#end
								<p>${parkingPlace.transportDescription}</p>
							</div>
						</div>
						<div class="PRICE">
							<p class="subheading">Pris inkl. mva:</p>
							<p class="pricetext">${parkingPlace.pricePerDay},-</p>
						</div>
						<div class="BUTTON">
							<input type="image" src="../fileadmin/site_images/book-now.png" alt="Book Now"/>
						</div>  
					</div>						
				</li>
  				#end
			</ul>
		</form>
	</div>
</div>
<div id="tabs-2">
	#include("./src/main/resources/parking/information.vm")
</div>
<div id="tabs-3">
	#include("./src/main/resources/parking/faq.vm")
</div>
#include("./src/main/resources/parking/footer.vm")