#include("./src/main/resources/parking/header.vm")
<div id="tabs-1">
<form class="cmxform" id="timeSelectForm" action="receipt.html" method="post">
	<div class="SUMMARY clearfix">
		<div class="BOOKING_SUMMARY clearfix">
			<p class="subheading">Brukerinformasjon</p>
			<table id="usertable">
				<tr>
			 	 	<td width="60%">&nbsp;</td>
			 		<td width="40%">&nbsp;</td>
				</tr>
				<tr>
				  <td>Navn:</td>
				  <td>$User.firstName $User.lastName</td>
				</tr>
				<tr>
				  <td>E-postadresse:</td>
				  <td>$User.email</td>
				</tr>
				<tr>
				  <td>Mobilnr:</td>
				  <td>$User.mobilePhone</td>
				</tr>
			</table>
			<br/>
			<table id="ordertable">
					<p class="subheading">Bestilling</p>
				</tr>
				<tr>
				  <td width="50%">&nbsp;</td>
				  <td width="50%">&nbsp;</td>
				</tr>
				<tr>
				  <td>Sted:</td>
				  <td>$Location.locationName</td>
				</tr>
				<tr>
				  <td>Valgt parkering:</td>
				  <td>$ParkingPlace.name</td>
				</tr>
				<tr>
				  <td>Fra:</td>
				  <td>$DateFrom - $HoursFrom</td>
				</tr>
				<tr>
				  <td>Til:</td>
				  <td>$DateTo - $HoursTo</td>
				</tr>
				<tr>
				  <td><p>Total å betale:</td>
				  <td><p class="PRICETEXT2">$TotalPrice,-</p></td>
				</tr>
			  </table>
		</div>	
		<div class="INFORMATION clearfix">
			<p class="subheading">Informasjon</p>
			<p> Ved bruk av Online Booking blir kortet belastet 24 timer etter reservasjon. Dersom det viser seg at p-tiden blir lengre enn antatt, vil tilleggsbeløpet automatisk belastes kortet ved utkjøring.</p>
			<p> Kredittkort som kan benyttes er Visa, MasterCard (EuroCard), Diners Club og American Express. Bruker er selv ansvarlig for at kredittkortet er gyldig for parkering.</p>
			<div class="PAYMENT_IMAGE">
				<img src="../fileadmin/site_images/acceptedcards_hor.png"/>
			</div>
			<p> Vi anbefaler å ta med reservasjonsbekreftelsen du mottar per e-post. Se vilkårene for avbestilling og endring av reservert parkering.</p>	
		</div>	
	</div>	
	<div class="PAYMENT clearfix">
		<hr/>
		<div class="CARD_INFO clearfix">
		<p class="subheading">Betaling</p>
			<table id="creditcardtable">
				<tr>
			 	 	<td width="40%">&nbsp;</td>
			 		<td width="60%">&nbsp;</td>
				</tr>
				<tr>
				 	<td>Betalingsmetode:</td>
				 	<td><select name="paymentMethod">
				 		<option value="">Vennligst velg</option>
						<option value="AMX">American Express</option>
						<option value="MCD">MasterCard</option>
						<option value="VIS">Visa</option>
						</select>
					</td>
				</tr>
				<tr>
				 	<td>Kortholderens navn:</td>
				 	<td><input type="text" name="cardName" size="29" class="required"></td>
				</tr>
				<tr>
					<td>Kortnummer: </td>
					<td>
						<input type="text" name="cardName" size="29" class="required">
					</td>
				</tr>
			</table>
		</div>
		<div class="CVC_INFO">
		<table id="cvctable">
		<p class="subheading">&nbsp;</p>
			<tr>
			 	 	<td width="40%">&nbsp;</td>
			 		<td width="60%">&nbsp;</td>
			</tr>
			<tr>
				 <td>Utløpsdato:</td>
				 <td>				 	 	
				 	<select name="validToMonth" style='width: 50px;'>
					 		<option value=""></option>
							<option value="Jan">Jan</option>
							<option value="Feb">Feb</option>
							<option value="Mar">Mar</option>
							<option value="Apr">Apr</option>
							<option value="Mai">Mai</option>
							<option value="Jun">Jun</option>
							<option value="Jul">Jul</option>
							<option value="Aug">Aug</option>
							<option value="Sep">Sep</option>
							<option value="Okt">Okt</option>
							<option value="Nov">Nov</option>
							<option value="Des">Des</option>
						</select>
						<select name="validToYear" style='width: 50px;'>
					 		<option value=""></option>
							<option value="2011">2011</option>
							<option value="2012">2012</option>
							<option value="2013">2013</option>
							<option value="2014">2014</option>
							<option value="2015">2015</option>
							<option value="2016">2016</option>
							<option value="2017">2017</option>
							<option value="2018">2018</option>
							<option value="2019">2019</option>
						</select>
				 </td>
			</tr>
			<tr>
				<td>CVC2: </td>
				<td><input type="text" name="cvc2Code" size="5" class="required"></td>
			</tr>
			<tr>
			 	<td colspan="2"><a valign="top" tabindex="31" href="cvc2.html" target="_blank"> Hva er CVC2?</a></td>
			</tr>
		</table>
		</div>
		<div class="TERMS">
			<br/>
			<input id="acceptTerms" type="radio" name="acceptTerms" value="0" tabindex="30">
			<label for="acceptTerms"> Jeg har lest og godtar <a tabindex="31" href="Termsandconditions.html" target="_blank">vilkårene</a> for denne bookingen, samt Europarks  <a tabindex="32" href="PrivacyPolicy.html" target="_blank">personvernspolicy.</a></label>
			<p><input class="submit" type="submit" value="Gå tilbake"/><input class="submit" type="submit" value="Bekreft betaling"/></p>
		</div>

	</form>
	</div>
</div>
<div id="tabs-2">
	#include("./src/main/resources/parking/information.vm")
</div>
<div id="tabs-3">
	#include("./src/main/resources/parking/faq.vm")
</div>
#include("./src/main/resources/parking/footer.vm")