#include("./src/main/resources/parking/header.vm")
<div id="tabs-1">
	<div class="createuserbox clearfix">
		  <div class="blueheader">Kvittering</div>
			<table id="logintable">
			<tr>
			  <td width="20%">&nbsp;</td>
			  <td width="80%">&nbsp;</td>
			</tr>
			<tr>
			  <td>Fornavn</td>
			  <td>$User.firstName</td>
			</tr>
			<tr>
			  <td>Etternavn</td>
			  <td>$User.lastName</td>
			</tr>
			<tr>
			  <td>E-postadresse</td>
			  <td>$User.email</td>
			</tr>
			<tr>
			  <td>Passord</td>
			  <td>$User.password</td>
			</tr>
			<tr>
			<tr>
			  <td>Mobilnr.</td>
			  <td>$User.mobilePhone</td>
			</tr>
		  </table>
	</div>
</div>
<div id="tabs-2">
	#include("./src/main/resources/parking/information.vm")
</div>
<div id="tabs-3">
	#include("./src/main/resources/parking/faq.vm")
</div>
#include("./src/main/resources/parking/footer.vm")