#include("./src/main/resources/parking/header.vm")
<div id="tabs-1">
	<div class="LOC clearfix">
		<p class="subheading">Velg flyplass</p>
			<select name="Location" >
				<option value="">Vennligst velg</option>
				<optgroup label="Norge"><option value="BGO">Bergen / Flesland (BGO)</option><option value="HAU">Haugesund Karmøy (HAU)</option><option value="OSL">Oslo Gardermoen (OSL)</option><option value="SVG">Stavanger Sola (SVG)</option><option value="TRD">Trondheim Værnes (TRD)</option>            </optgroup>
			</select>
		</div>
		<div class="DATEOPT clearfix">
			<form action="parkingoptions.html" method="post">
				<div class="DATE_from">
					<p class="subheading">Fra dato</p>
					<div id="datepicker", name="date1 "></div>
					<div class="TIME clearfix">
						<p><span class="timetext">Klokken</span></p>
						<div class="TIMEBOX clearfix">
							<select name="Hours_from">
								<option value="0">00</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
							</select>
						</div>
						<p>  : </p>
						<div class="TIMEBOX clearfix">
								<select name="Minutes_from" >
									<option value="0">00</option>
									<option value="1">15</option>
									<option value="2">30</option>
									<option value="3">45</option>
								</select>
						</div>
					</div>
				</div>
				<div class="DATE_to">
					<p class="subheading">Til dato</p>
					<div id="datepicker2", name="date2"></div>
					
					<div class="TIME clearfix">
						<p><span class="timetext2">Klokken</span></p>
						<div class="TIMEBOX clearfix">
							<select name="Hours_to">
								<option value="0">00</option>
								<option value="1">01</option>
								<option value="2">02</option>
								<option value="3">03</option>
								<option value="4">04</option>
								<option value="5">05</option>
								<option value="6">06</option>
								<option value="7">07</option>
								<option value="8">08</option>
								<option value="9">09</option>
								<option value="10">10</option>
								<option value="11">11</option>
								<option value="12">12</option>
								<option value="13">13</option>
								<option value="14">14</option>
								<option value="15">15</option>
								<option value="16">16</option>
								<option value="17">17</option>
								<option value="18">18</option>
								<option value="19">19</option>
								<option value="20">20</option>
								<option value="21">21</option>
								<option value="22">22</option>
								<option value="23">23</option>
							</select>
						</div>
						<p>:</p>
						<div class="TIMEBOX clearfix">
							<select name="Minutes_from" >
								<option value="0">00</option>
								<option value="1">15</option>
								<option value="2">30</option>
								<option value="3">45</option>
							</select>
						</div>
						<div class="SEARCH">
							<input type="image" src="../fileadmin/site_images/search-now.png" alt="Search Now"/>
						</div>  
					</div>
				</div>	
			</form>	
		</div>
</div>
<div id="tabs-2">
	#include("./src/main/resources/parking/information.vm")
</div>
<div id="tabs-3">
	#include("./src/main/resources/parking/faq.vm")
</div>
#include("./src/main/resources/parking/footer.vm")