/*************************************************/
/*************************************************/
/*************************************************/


.LOC {
	float: left;
	margin-top: 4px;
}


.DATEOPT {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}

.DATE_container {
	float: left;
	width: 250px;

}

.TIME {
	float: right;
	margin-top: 4px;
	margin-right: 85px;
}

.TIME select {
	width: 60px;
}

.SEARCH_BUTTON {
	margin-top: 20px;
	margin-right: 85px;
	float: right;
}

.SUMMARY {
	margin-top: 10px;
	margin-bottom: 0px;
	width: 100%;
}
.BOOKING_SUMMARY {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 360px;
	float: left;
}
.INFORMATION {
    border-left: 1px solid;
    float: left;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 70px;
    width: 400px;
	
}
.PAYMENT {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}
.CARD_INFO {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 400px;
	float: left;
}
.CVC_INFO {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 220px;
	float: left;
	padding-left: 15px;
}

.TERMS {
    float: left;
    margin-bottom: 20px;
    margin-top: 33px;
    width: 280px;
}
.PAYMENT_INFO {
	margin-top: 10px;
	width: 70%;
	float: left;
}
.PRICETEXT2 {
	color: #9A75FF;
	font-size: 20px;
	text-align: left;
}
.PAYMENT_IMAGE {
	margin-top: 10px;
	text-align: center;
}
.LINE {
	margin-top: 30px;
	width: 100%;
}