/*************************************************/
/*************************************************/
/*************************************************/


.LOC {
	float: left;
	margin-top: 4px;
}

.DATEOPT {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}

.DATE_container {
	float: left;
	width: 250px;

}

.TIME {
	float: right;
	margin-top: 4px;
	margin-right: 59px;
}

.TIME select {
	width: 60px;
}

.SEARCH_BUTTON {
	margin-top: 10px;
	margin-right: 60px;
	float: right;
}
