.tx-srlanguagemenu-pi1{
	white-space: nowrap;
	line-height: 16px;
}

.tx-srlanguagemenu-pi1 span{
	text-align: center;
	padding-left: 6px;
	margin-left: 3px;
	border-left: 1px #b5b4b4 solid;
}
.tx-srlanguagemenu-pi1 span:first-child{
	padding-left: 0;
	margin-left: 0;
	border-left: 0;
}

.tx-srlanguagemenu-pi1 img{
	border:solid 1px #04385A;
	margin-left:3px;
}

.tx-srlanguagemenu-pi1 p {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 100%;
	color: #b5b4b4;
	margin-top:8px;
	margin-bottom:0px;
	padding:0px;
	text-indent:0px;
}

.tx-srlanguagemenu-pi1 .CUR {

}

.tx-srlanguagemenu-pi1 .CUR img{
	border: solid 1px #fff;
}

.tx-srlanguagemenu-pi1 .CUR A:link, .tx-srlanguagemenu-pi1 .CUR A:visited, .tx-srlanguagemenu-pi1 .CUR A:active {
	background-color:transparent;
	color:#04385a;
	text-decoration:none;
	font-weight:bold;
	font-size: 11px;
}

.tx-srlanguagemenu-pi1 .CUR A:hover {
	background-color:transparent;
	color:#04385a;
	text-decoration:none;
	font-size: 11px;
}

.tx-srlanguagemenu-pi1 .NO {

}

.tx-srlanguagemenu-pi1 .NO A:link, .tx-srlanguagemenu-pi1 .NO A:visited, .tx-srlanguagemenu-pi1 .NO A:active {
	background-color:transparent;
	color:#b5b4b4;
	text-decoration:none;
	font-size: 11px;
}

.tx-srlanguagemenu-pi1 .NO A:hover {
	background-color:transparent;
	color:#04385a;
	text-decoration:none;
	font-size: 11px;
}

.tx-srlanguagemenu-pi1 .INACT {
	float: left;
}

.tx-srlanguagemenu-pi1 .INACT A:link {
	background-color:transparent;
	color:white;
	text-decoration:none;
	font-weight:normal;
}

.tx-srlanguagemenu-pi1 .INACT A:visited {
	background-color:transparent;
	color:white;
	font-weight:normal;
	text-decoration:none;
}

.tx-srlanguagemenu-pi1 .INACT A:hover {
	background-color:transparent;
	color:#333333;
	text-decoration:none;
}

.tx-srlanguagemenu-pi1 .INACT A:active {
	background-color:transparent;
	color:white;
	font-weight:normal;
	text-decoration:none;
}

.tx-srlanguagemenu-pi1 SELECT {
	font-size:10px;
	font-family:Verdana;
	background-color:#35006d;
	color:#ffffff;
	margin-left:15px;
}